@import "tailwindcss";
@import "@repo/design-system/theme.css";

@layer components {
  .backgroundGradient {
    /* Gradient created with https://colorfinder.app/css-tools/gradient-creator */
    background: linear-gradient(
      0deg,
      rgba(0, 0, 94, 1) 3%,
      rgba(68, 17, 254, 1) 92%
    );
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
